.cat-form-container {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.cat-form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.cat-form-container form {
    background-color: var(--button-bg);
    padding: 20px;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
}

.cat-form-container table {
    width: 100%;
}

.cat-form-container td {
    padding: 10px;
}

.cat-form-container input[type="text"],
.cat-form-container input[type="number"],
.cat-form-container textarea {
    width: 100%;
    padding: 8px;
    border: var(--borders);
    border-radius: 4px;
}

.cat-form-container .btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--submit);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cat-form-container .btn:hover {
    background-color: var(--warn);
}